@model IncidentDomain.Entities.Incident

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Incident Reporting</title>
        
        <link href="~/bootstrap.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width" />
        
    </head>
    <body>
@{
    ViewBag.Title = "Delete";
}

<div class="container">

<h3>Are you sure you want to delete the following data?</h3>

<table class="table table-striped table-bordered">

    <tr>
        <th>@Html.DisplayNameFor(model => model.IncidentID)</th>
        <td>@Html.DisplayFor(model => model.IncidentID)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
         <td>@Html.DisplayFor(model => model.Date)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.IncidentType)</th>
         <td>@Html.DisplayFor(model => model.IncidentType)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.Department)</th>
         <td>@Html.DisplayFor(model => model.Department)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.IncidentLocation)</th>
         <td>@Html.DisplayFor(model => model.IncidentLocation)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.ActionTaken)</th>
         <td>@Html.DisplayFor(model => model.ActionTaken)</td>
    </tr>

    </table>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

</div>
</body>

</html>