@model IEnumerable<IncidentDomain.Entities.Incident>

@{
    ViewBag.Title = "Incident List";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncidentID) 
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date) 
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UploadFile)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentType)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @if(item.UploadFile!=null)
            {
                @Html.DisplayFor(modelItem => item.UploadFile) 
                @Html.ActionLink("Download", "Download", new { filename=item.UploadFile })
            }
        </td>
       
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IncidentID }) 
           
        </td>
    </tr>
}

</table>
